html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Mustafa GEN&Ccedil;
    link(rel='shortcut icon', href='./images/favicon/favicon.ico')
    link(rel='icon', type='image/x-icon', sizes='16x16 32x32', href='./images/favicon/favicon.ico')
    link(rel='apple-touch-icon', sizes='152x152', href='./images/favicon/favicon-152-precomposed.png')
    link(rel='apple-touch-icon', sizes='144x144', href='./images/favicon/favicon-144-precomposed.png')
    link(rel='apple-touch-icon', sizes='120x120', href='./images/favicon/favicon-120-precomposed.png')
    link(rel='apple-touch-icon', sizes='114x114', href='./images/favicon/favicon-114-precomposed.png')
    link(rel='apple-touch-icon', sizes='180x180', href='./images/favicon/favicon-180-precomposed.png')
    link(rel='apple-touch-icon', sizes='72x72', href='./images/favicon/favicon-72-precomposed.png')
    link(rel='apple-touch-icon', href='./images/favicon/favicon-57.png')
    link(rel='icon', href='./images/favicon/favicon-32.png', sizes='32x32')
    meta(name='msapplication-TileColor', content='#FFFFFF')
    meta(name='msapplication-TileImage', content='./images/favicon/favicon-144.png')
    meta(name='theme-color', content='#ffffff')
    link(rel='icon', sizes='192x192', href='./images/favicon/favicon-192.png')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i&amp;subset=latin-ext' rel='stylesheet')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.2/gh-fork-ribbon.min.css')
    link(rel='stylesheet' href='./app.css')
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-111481679-5')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-111481679-5');
  body
    include icons

    block content

    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@14.0.0/dist/smooth-scroll.polyfills.min.js')
    script(src='./src/js/plugins/flickity.pkgd.js')
    script(src='./src/js/plugins/jquery.sticky-sidebar.js')
    script(src='./app.js')