.sidebar-wrapper
  aside.sidebar
        .image
          .carousel(data-flickity='')
            .carousel-cell
              img(src='./images/mustafa-genc.jpg' alt='Mustafa Genç' title='Mustafa Genç')
            .carousel-cell
              img(src='./images/mustafa-genc-2.jpg' alt='Mustafa Genç' title='Mustafa Genç')
            .carousel-cell
              img(src='./images/mustafa-genc-3.jpg' alt='Mustafa Genç' title='Mustafa Genç')
            .carousel-cell
              img(src='./images/mustafa-genc-4.jpg' alt='Mustafa Genç' title='Mustafa Genç')
            .carousel-cell
              img(src='./images/mustafa-genc-5.jpg' alt='Mustafa Genç' title='Mustafa Genç')
        ul.menu
          li
            a(data-scroll='', href='#hakkimda')
              svg.icon.icon-profile
                use(xlink:href='#icon-profile')
              span Hakk&imath;mda
          li
            a(data-scroll='', href='#yetenekler')
              svg.icon.icon-pen
                use(xlink:href='#icon-pen')
              span Yetenekler
          li
            a(data-scroll='', href='#deneyimler')
              svg.icon.icon-mug
                use(xlink:href='#icon-mug')
              span Deneyimler
          li
            a(data-scroll='', href='#projeler')
              svg.icon.icon-embed2
                use(xlink:href='#icon-embed2')
              span Projeler
          li
            a.external(href='https://medium.com/@mustafagenc')
              svg.icon.icon-quill
                use(xlink:href='#icon-quill')
              span Blog
        .social
          a.external(href='https://www.ekipisi.com.tr/')
            svg.icon.icon-lab
              use(xlink:href='#icon-lab')
          a.external(href='https://github.com/mustafagenc/')
            svg.icon.icon-github
              use(xlink:href='#icon-github')
          a.external(href='https://codepen.io/mustafagenc/')
            svg.icon.icon-codepen
              use(xlink:href='#icon-codepen')
          a.external(href='https://linkedin.com/in/mustafagenc/')
            svg.icon.icon-linkedin
              use(xlink:href='#icon-linkedin')
          a.external(href='https://instagram.com/mustafagenc/')
            svg.icon.icon-instagram
              use(xlink:href='#icon-instagram')
          //a.external(href='https://youtube.com/mustafagenc6/')
            svg.icon.icon-youtube
              use(xlink:href='#icon-youtube')
          //a.external(href='https://twitter.com/mustafagenc/')
            svg.icon.icon-twitter
              use(xlink:href='#icon-twitter')
          //a.external(href='https://fb.com/mustafagencx/')
            svg.icon.icon-facebook2
              use(xlink:href='#icon-facebook2')