extends global/master

block content

  h1 Mustafa GEN&Ccedil;
  .container
    
    include global/sidebar  

    section.content
      #hakkimda.box
        .title
          h2
            | Hakk&imath;mda
        .sub-title
          h3
            | Mustafa Gen&ccedil;
            small Full Stack Web Developer
        .description
          p
            | Lorem Ipsum, dizgi ve bask&imath; end&uuml;strisinde kullan&imath;lan m&imath;g&imath;r metinlerdir. Lorem Ipsum, ad&imath; bilinmeyen bir matbaac&imath;n&imath;n bir hurufat
            | numune kitab&imath; olu&scedil;turmak &uuml;zere bir yaz&imath; galerisini alarak kar&imath;&scedil;t&imath;rd&imath;&gbreve;&imath; 1500&apos;lerden beri end&uuml;stri
            | standard&imath; sahte metinler olarak kullan&imath;lm&imath;&scedil;t&imath;r. Be&scedil;y&uuml;z y&imath;l boyunca varl&imath;&gbreve;&imath;n&imath; s&uuml;rd&uuml;rmekle kalmam&imath;&scedil;,
            | ayn&imath; zamanda pek de&gbreve;i&scedil;meden elektronik dizgiye de s&imath;&ccedil;ram&imath;&scedil;t&imath;r. 1960&apos;larda Lorem Ipsum pasajlar&imath; da
            | i&ccedil;eren Letraset yapraklar&imath;n&imath;n yay&imath;nlanmas&imath; ile ve yak&imath;n zamanda Aldus PageMaker gibi Lorem Ipsum
            | s&uuml;r&uuml;mleri i&ccedil;eren masa&uuml;st&uuml; yay&imath;nc&imath;l&imath;k yaz&imath;l&imath;mlar&imath; ile pop&uuml;ler olmu&scedil;tur.
          p
            | Yayg&imath;n inanc&imath;n tersine, Lorem Ipsum rastgele s&ouml;zc&uuml;klerden olu&scedil;maz. K&ouml;kleri M.&Ouml;. 45 tarihinden bu yana klasik Latin edebiyat&imath;na
            | kadar uzanan 2000 y&imath;ll&imath;k bir ge&ccedil;mi&scedil;i vard&imath;r. Virginia&apos;daki Hampden-Sydney College&apos;dan Latince profes&ouml;r&uuml;
            | Richard McClintock, bir Lorem Ipsum pasaj&imath;nda ge&ccedil;en ve anla&scedil;&imath;lmas&imath; en g&uuml;&ccedil; s&ouml;zc&uuml;klerden biri olan
            | &apos;consectetur&apos; s&ouml;zc&uuml;&gbreve;&uuml;n&uuml;n klasik edebiyattaki &ouml;rneklerini inceledi&gbreve;inde kesin bir kayna&gbreve;a ula&scedil;m&imath;&scedil;t&imath;r.
            | Lorm Ipsum, &Ccedil;i&ccedil;ero taraf&imath;ndan M.&Ouml;. 45 tarihinde kaleme al&imath;nan &quot;de Finibus Bonorum et Malorum&quot; (&Idot;yi
            | ve K&ouml;t&uuml;n&uuml;n U&ccedil; S&imath;n&imath;rlar&imath;) eserinin 1.10.32.
          ul.author
            li
              strong Do&gbreve;um Tarihi
              | : 06/1985
            li
              strong &Scedil;ehir
              | : &Idot;zmir
            li
              strong E-Posta
              | : mustafa@ekipisi.com
            li
              strong Telefon
              | : 0850 885 1 357
            li
              strong &Ouml;&gbreve;renim
              | : &Uuml;niversite
            li
              strong Sigara
              | : Kullanm&imath;yor

      #yetenekler.box
        .title
          h2
            | Yetenekler
        .description
          ul.skin
            li
              p C#
              span.vivid(style='width:90%')
            li
              p Asp.NET MVC
              span.blue(style='width:85%')
            li
              p Microsoft SQL Server
              span.rosso(style='width:70%')
            li
              p Php & MySQL
              span.cove(style='width:75%')

          .deneysel
            strong Eh İşte : 
            | Java, Python, GoLang, Arduino, C++, Android, iOs, Node.js, React Native, CSS, Javascript

      #deneyimler.box
        .title
          h2
            | Deneyimler
        .description
          .history
            ul.tl
              li.tl-item
                .timestamp
                  strong 2015 - Devam Ediyor
                  br 
                  | Firma Sahibi
                .item-title Ekipişi Yazılım ve Danışmanlık Hizmetleri
                .item-detail 
                  | Müşteri taleplerinin analizi, Yazılım ve Sistem mimari tasarımı, geliştirilmesi ve test edilmesi, Yazılım kodlama standartlarının proje ekibine öğretilmesi ve denetlenmesi, Kullanılabilecek teknolojilerin belirlenmesi.

              li.tl-item
                .timestamp
                  strong 2010 - 2012
                  br 
                  | Proje Yöneticisi
                .item-title Atılım Yayın Grup
                .item-detail Müşteri taleplerinin analizi, Yazılım ve Sistem mimari tasarımı ve geliştirilmesi, Yazılım kodlama standartlarının proje ekibine öğretilmesi ve denetlenmesi, Kullanılabilecek teknolojilerin belirlenmesi.
                
              li.tl-item
                .timestamp
                  strong 2008 - 2009
                  br 
                  | Web Yazılım Uzmanı
                .item-title Sektör Yazılım
                .item-detail Müşteri taleplerinin analizi, Yazılım tasarlanması geliştirilmesi ve test edilmesi.
                
              li.tl-item
                .timestamp
                  strong 2005 - 2007
                  br 
                  | Web Yazılım Geliştirici
                .item-title Relax Mode
                .item-detail Müşteri istekleri doğrultusunda web yazılımlarının tasarlanması ve geliştirilmesi.

              li.tl-item
                .timestamp
                  strong 2004 - 2005
                  br 
                  | Web Yazılım Geliştirici
                .item-title Descom Bilgisayar
                .item-detail Müşteri taleplerinin analizi, Yazılım tasarlanması geliştirilmesi ve test edilmesi.

              li.tl-item
                .timestamp
                  strong 2003 - 2004
                  br 
                  | Web Yazılım Geliştirici
                .item-title Dynamic Yazılım
                .item-detail Firmaya ait Inspector adlı uygulamanın geliştirilmesi, Müşteri istekleri doğrultusunda web yazılımlarının tasarlanması ve geliştirilmesi.

      #projeler.box
        .title
          h2
            | Projeler 
            small (Bazıları)
        .description
          .history
            ul.tl
              li.tl-item
                .timestamp
                  strong Evimdeki Ders
                .item-detail 
                  | Adobe Connect Pro ile entegre olarak çalışan, Kullanıcıların siteye üye olabildiği, belirtilen ücret karşılığında abonelik satın alabildiği, site içerisindeki takvimden derslere kayıt yaptırıp, dersleri canlı olarak takip edebildiği, geçmiş derslerin videolarını izleyebildiği, ihtiyaç duyduğunda birebir olarak özel ders talebinde bulunabildiği, içerisinde öğrenci ve müşteri yönetim sistemini de barındıran bir e-okul projesi.
                  br
                  br
                  strong Proje Araçları: 
                  | Asp.Net(C#), MS SQL Server, Entity Framework, Silverlight, Web Services, Ajax, jQuery, Css, Html
              li.tl-item
                .timestamp
                  strong Dersium
                .item-detail 
                  | BigBlueButton ile entegre çalışan uzaktan eğitim yönetim sistemi.
                  br
                  br
                  strong Proje Araçları: 
                  | Asp.Net MVC (C#), MS SQL Server, Entity Framework, Web Services, jQuery, Bootstrap, Css, Html
              li.tl-item
                .timestamp
                  strong Swiss Happy Home
                .item-detail 
                  | Kullanıcılara profesyonel temizlik hizmeti sunan firmanın hizmet takibini, ödemelerini ve müşteri yönetimini sağlayan proje.
                  br
                  br
                  strong Proje Araçları: 
                  | Asp.Net MVC (C#), MS SQL Server, Entity Framework, Web Services, jQuery, Bootstrap, Css, Html
              li.tl-item
                .timestamp
                  strong Timeline
                .item-detail 
                  | Almanya menşeili olan bir firmanın şirket içi çalışanlarını online takip etmesini, çalışanın nerden bulunduğunu, bulunduğu yerde ne kadar zaman geçirdiğini kayıt altına alan ve bu verilerle çalışanın aylık ödemesini hesaplayan proje.
                  br
                  br
                  strong Proje Araçları: 
                  | Asp.Net MVC (C#), MS SQL Server, Entity Framework, Web Services, jQuery, Bootstrap, Css, Html, Android, iOs(Swift2)
              li.tl-item
                .timestamp
                  strong Personel Takip ve Uyarı Sistemi
                .item-detail 
                  | Firmanın sahadaki personellerini takip edebileceği, danışmanlık verdikleri firmaların yerine getirmesi gereken şartların takibini yapabilecekleri özel proje.
                  br
                  br
                  strong Proje Araçları: 
                  | Asp.Net MVC (C#), MS SQL Server, Entity Framework, Web Services, jQuery, Bootstrap, Android
              li.tl-item
                .timestamp
                  strong Mesaj Merkezi
                .item-detail 
                  | Firmanın tüm bayilerini listeleyip kredi ekleme, sms takibi, başlık tanımlama, online ödeme, şifre-bilgi güncelleme gibi işlemleri kolayca yapabilmesi için yönetim paneli sistemi ve api desteğinin sağlanması.
                  br
                  br
                  strong Proje Araçları: 
                  | Asp.Net MVC (C#), MS SQL Server, Entity Framework, Web Services, jQuery, Bootstrap, Css, Html
              li.tl-item
                .timestamp
                  strong Ekipişi E-Commerce
                .item-detail 
                  | Firmaların ürünlerini satabileceği (B2C, B2B), online ödeme sistemleri, kargo firmaları, n11 gibi firmalarla entegre özel eticaret yazılımı.
                  br
                  br
                  strong Proje Araçları: 
                  | Php, mySQL, jQuery, Bootstrap, Css, Html
              li.tl-item
                .timestamp
                  strong Ekipişi CMS
                .item-detail 
                  | Kurumsal firmaların web sitelerini yönetebilmesi için geliştirdiğim içerik yönetim sistemi.
                  br
                  br
                  strong Proje Araçları: 
                  | Php (Laravel Framework), mySQL, restApi, jQuery, Bootstrap, Css, Html
              li.tl-item
                .timestamp
                  strong Sözler Köşkü
                .item-detail 
                  | Sözler Köşkü İlim ve Kültür Derneği sitesi ve Android uygulaması.
                  br
                  br
                  strong Proje Araçları: 
                  | Asp.Net MVC (C#), MS SQL Server, Entity Framework, Web Services, Css, Html, jQuery, Bootstrap, Android
              li.tl-item
                .timestamp
                  strong İdeal Fotoğraf – Android App
                .item-detail 
                  | Kullanıcıların uygulama ile pasaport, yeni kimliklere uygun şekilde fotoğraflarını çekip İdeal Fotoğraf firmasının içinde barındırdığı qnap nas server göndermesini sağlayan uygulama.
                  br
                  br
                  strong Proje Araçları: 
                  | Asp.Net MVC (C#), MS SQL Server, Entity Framework, Web Services, jQuery, Bootstrap, Android


        a.external.madeby(href='https://www.ekipisi.com.tr')
          | Made with
          svg.icon.icon-heart
            title Ekipi&scedil;i
            use(xlink:href='#icon-heart')
          |             in &Idot;zmir