extends global/master

block content

  h1 Mustafa GEN&Ccedil;
  .container
    
    include global/sidebar  

    section.content
      #hakkimda.box
        .title
          h2
            | Hakk&imath;mda
        .sub-title
          h3
            | Mustafa Gen&ccedil;
            small Full Stack Web Developer
        .description
          p
            | Birşeyler yazıcaz artık
          p
            | ...
          ul.author
            li
              strong Do&gbreve;um Tarihi
              | : 06/1985
            li
              strong &Scedil;ehir
              | : &Idot;zmir
            li
              strong E-Posta
              | : eposta@mustafagenc.info
            li
              strong Telefon
              | : 0850 885 1 357
            li
              strong &Ouml;&gbreve;renim
              | : &Uuml;niversite 
              small (Devam Ediyor)
            li
              strong Sigara
              | : Kullanm&imath;yor

      #yetenekler.box
        .title
          h2
            | Yetenekler
        .description
          ul.skin
            li
              p C# 
              span.vivid(style='width:90%')
            li
              p Asp.NET MVC 
              span.blue(style='width:85%')
            li
              p Microsoft SQL Server 
              span.rosso(style='width:70%')
            li
              p Php & MySQL 
              span.cove(style='width:75%')

          .deneysel
            strong Eh İşte : 
            | Java, Python, GoLang, Arduino, C++, Android, iOs, Node.js, React Native, CSS, Javascript

      #deneyimler.box
        .title
          h2
            | Deneyimler
        .description
          .history
            ul.tl
              li.tl-item
                .timestamp
                  strong 2015 - Devam Ediyor
                  br 
                  | Firma Sahibi
                .item-title Ekipişi Yazılım ve Danışmanlık Hizmetleri
                .item-detail 
                  | Müşteri taleplerinin analizi, Yazılım ve Sistem mimari tasarımı, geliştirilmesi ve test edilmesi, Yazılım kodlama standartlarının proje ekibine öğretilmesi ve denetlenmesi, Kullanılabilecek teknolojilerin belirlenmesi.

              li.tl-item
                .timestamp
                  strong 2010 - 2012
                  br 
                  | Proje Yöneticisi
                .item-title Atılım Yayın Grup
                .item-detail Müşteri taleplerinin analizi, Yazılım ve Sistem mimari tasarımı ve geliştirilmesi, Yazılım kodlama standartlarının proje ekibine öğretilmesi ve denetlenmesi, Kullanılabilecek teknolojilerin belirlenmesi.
                
              li.tl-item
                .timestamp
                  strong 2008 - 2009
                  br 
                  | Web Yazılım Uzmanı
                .item-title Sektör Yazılım
                .item-detail Müşteri taleplerinin analizi, Yazılım tasarlanması geliştirilmesi ve test edilmesi.
                
              li.tl-item
                .timestamp
                  strong 2005 - 2007
                  br 
                  | Web Yazılım Geliştirici
                .item-title Relax Mode
                .item-detail Müşteri istekleri doğrultusunda web yazılımlarının tasarlanması ve geliştirilmesi.

              li.tl-item
                .timestamp
                  strong 2004 - 2005
                  br 
                  | Web Yazılım Geliştirici
                .item-title Descom Bilgisayar
                .item-detail Müşteri taleplerinin analizi, Yazılım tasarlanması geliştirilmesi ve test edilmesi.

              li.tl-item
                .timestamp
                  strong 2003 - 2004
                  br 
                  | Web Yazılım Geliştirici
                .item-title Dynamic Yazılım
                .item-detail Firmaya ait Inspector adlı uygulamanın geliştirilmesi, Müşteri istekleri doğrultusunda web yazılımlarının tasarlanması ve geliştirilmesi.

      #projeler.box
        .title
          h2
            | Projeler 
            small (Bazıları)
        .description
          .projects
            ul
              li
                .project-title
                  | Evimdeki Ders
                .project-detail
                  | Adobe Connect Pro ile entegre olarak çalışan, Kullanıcıların siteye üye olabildiği, belirtilen ücret karşılığında abonelik satın alabildiği, site içerisindeki takvimden derslere kayıt yaptırıp, dersleri canlı olarak takip edebildiği, geçmiş derslerin videolarını izleyebildiği, ihtiyaç duyduğunda birebir olarak özel ders talebinde bulunabildiği, içerisinde öğrenci ve müşteri yönetim sistemini de barındıran bir e-okul projesi.
                .project-tools
                  strong Proje Araçları: 
                  | Asp.Net(C#), MS SQL Server, Entity Framework, Silverlight, Web Services, Ajax, jQuery, Css, Html
              li
                .project-title
                  | Dersium
                .project-detail
                  | BigBlueButton ile entegre çalışan uzaktan eğitim yönetim sistemi.
                .project-tools
                  strong Proje Araçları: 
                  | Asp.Net MVC (C#), MS SQL Server, Entity Framework, Web Services, jQuery, Bootstrap, Css, Html
              li
                .project-title
                  | Swiss Happy Home
                .project-detail
                  | Kullanıcılara profesyonel temizlik hizmeti sunan firmanın hizmet takibini, ödemelerini ve müşteri yönetimini sağlayan proje.
                .project-tools
                  strong Proje Araçları: 
                  | Asp.Net MVC (C#), MS SQL Server, Entity Framework, Web Services, jQuery, Bootstrap, Css, Html
              li
                .project-title
                  | Timeline
                .project-detail
                  | Almanya menşeili olan bir firmanın şirket içi çalışanlarını online takip etmesini, çalışanın nerden bulunduğunu, bulunduğu yerde ne kadar zaman geçirdiğini kayıt altına alan ve bu verilerle çalışanın aylık ödemesini hesaplayan proje.
                .project-tools
                  strong Proje Araçları: 
                  | Asp.Net MVC (C#), MS SQL Server, Entity Framework, Web Services, jQuery, Bootstrap, Css, Html, Android, iOs(Swift2)
              li
                .project-title
                  | Personel Takip ve Uyarı Sistemi
                .project-detail
                  | Firmanın sahadaki personellerini takip edebileceği, danışmanlık verdikleri firmaların yerine getirmesi gereken şartların takibini yapabilecekleri özel proje.
                .project-tools
                  strong Proje Araçları: 
                  | Asp.Net MVC (C#), MS SQL Server, Entity Framework, Web Services, jQuery, Bootstrap, Android
              li
                .project-title
                  | Mesaj Merkezi
                .project-detail
                  | Firmanın tüm bayilerini listeleyip kredi ekleme, sms takibi, başlık tanımlama, online ödeme, şifre-bilgi güncelleme gibi işlemleri kolayca yapabilmesi için yönetim paneli sistemi ve api desteğinin sağlanması.
                .project-tools
                  strong Proje Araçları: 
                  | Asp.Net MVC (C#), MS SQL Server, Entity Framework, Web Services, jQuery, Bootstrap, Css, Html
              li
                .project-title
                  | Ekipişi E-Commerce
                .project-detail
                  | Firmaların ürünlerini satabileceği (B2C, B2B), online ödeme sistemleri, kargo firmaları, n11 gibi firmalarla entegre özel eticaret yazılımı.
                .project-tools
                  strong Proje Araçları: 
                  | Php, mySQL, jQuery, Bootstrap, Css, Html
              li
                .project-title
                  | Ekipişi CMS
                .project-detail
                  | Kurumsal firmaların web sitelerini yönetebilmesi için geliştirdiğim içerik yönetim sistemi.
                .project-tools
                  strong Proje Araçları: 
                  | Php (Laravel Framework), mySQL, restApi, jQuery, Bootstrap, Css, Html
              li
                .project-title
                  | Sözler Köşkü
                .project-detail
                  | Sözler Köşkü İlim ve Kültür Derneği sitesi ve Android uygulaması.
                .project-tools
                  strong Proje Araçları: 
                  | Asp.Net MVC (C#), MS SQL Server, Entity Framework, Web Services, Css, Html, jQuery, Bootstrap, Android
              li
                .project-title
                  | İdeal Fotoğraf – Android App
                .project-detail
                  | Kullanıcıların uygulama ile pasaport, yeni kimliklere uygun şekilde fotoğraflarını çekip İdeal Fotoğraf firmasının içinde barındırdığı qnap nas server göndermesini sağlayan uygulama.
                .project-tools
                  strong Proje Araçları: 
                  | Asp.Net MVC (C#), MS SQL Server, Entity Framework, Web Services, jQuery, Bootstrap, Android


        a.external.madeby(href='https://www.ekipisi.com.tr')
          | Made with 
          svg.icon.icon-heart
            title Ekipi&scedil;i
            use(xlink:href='#icon-heart')
          |             in &Idot;zmir