$max-width: 1140px;
$gutter: 20px;
$border-radius: 3px;
$finger-size: 44px;
$top-space-desktop: 80px;
$top-space-mobile: 20px;
$content-padding:40px;
//
$color-white: #FFFFFF;
$color-iron: #CCCCCC;
$color-light-grey: #F0F0F0;
$color-light-slate-grey: #78909C;
$color-light-slate-grey-hover: rgb(80, 138, 167);
$color-blue: #0FA9F4;
$color-navy: #0F64FF;
$color-soft-black: #212121;
$color-ekipisi: #FC594F;
//
$font-family: 'Lato', sans-serif;
$font-size: 16px;
$font-size-small: .9em;