h1 {
    display: none;
}

.container {
    position: relative;
    flex-direction: column;
    @include mq("desktop") {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
    }
}

a.madeby {
    position: absolute;
    bottom: -$gutter - 20px;
    right: $gutter;
    font-size: 12px;
    font-weight: 700;
    & svg {
        width: 13px;
        height: 13px;
        margin-bottom: -2px;
        stroke: $color-ekipisi;
        fill: $color-ekipisi;
    }
}

.sidebar {
    background-color: $color-white;
    margin-top: $top-space-mobile;
    @include mq("desktop") {
        flex: 0 0 auto;
        box-shadow: rgba(0, 0, 0, 0.2) 0 0 1px 0;
        margin-top: 0;
        position: fixed;
    }
    & .image {
        width: 100%;
        @include mq("desktop") {
            width: 270px;
        }
        & .carousel-cell {
            width: 100%;
            height: 350px;
            @include mq("desktop") {
                height: 270px;
            }
        }
        & .flickity-page-dots {
            bottom: 10px;
            & .dot {
                width: 12px;
                height: 12px;
                opacity: 1;
                background: transparent;
                border: 2px solid white;
                &.is-selected {
                    background: white;
                }
            }
        }
    }
    & .image img {
        width: 100%;
    }
    & .menu li {
        position: relative;
        font-size: 16px;
        font-weight: 700;
        border-bottom: 1px solid #F7F7F7;
        & a {
            display: flex;
            padding: 12px;
            transition: 0.1s ease-in;
            -o-transition: 0.1s ease-in;
            -ms-transition: 0.1s ease-in;
            -moz-transition: 0.1s ease-in;
            -webkit-transition: 0.1s ease-in;
            &:before {
                content: "";
                position: absolute;
                background-color: $color-soft-black;
                bottom: 0;
                left: 0;
                right: 0;
                top: 100%;
                z-index: -1;
                -webkit-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
            }
            & .icon {
                flex: 0 0 auto;
                color: $color-soft-black;
            }
            & span {
                display: block;
                text-align: right;
                flex: 1 1 auto;
            }
            &:hover,
            &:focus,
            &:active {
                color: #FFF;
                & .icon {
                    color: #FFF;
                }
                &:before {
                    top: 0;
                }
            }
        }
    }
    & .social {
        display: flex;
        padding: $gutter;
        align-items: center;
        justify-content: space-around;
        & .icon {
            color: $color-light-slate-grey;
            width: 24px;
            height: 24px;
            &:hover {
                color: $color-light-slate-grey-hover;
            }
            &.icon-lab {
                stroke: $color-ekipisi;
                fill: $color-ekipisi;
            }
        }
    }
}

.content {
    background-color: $color-white;
    margin-top: $top-space-mobile;
    @include mq("desktop") {
        flex: 1 1 auto;
        margin-left: 290px;
        margin-top: $top-space-desktop;
        box-shadow: rgba(0, 0, 0, 0.2) 0 0 1px 0;
    }
    & .box:hover h2 {
        &::after {
            width: 111%;
            border-bottom: 2px solid $color-blue;
        }
        & svg {
            stroke: $color-blue;
            fill: $color-blue;
            -webkit-animation: linear 1 alternate;
            -webkit-animation-name: pacman;
            -webkit-animation-duration: 8s;
        }
    }
    & .title {
        margin-top: 0px;
        padding: $gutter $content-padding;
        & h2 {
            position: relative;
            font-size: 17px;
            font-weight: 900;
            margin-bottom: 20px;
            &::after {
                display: block;
                content: "";
                border-bottom: 2px solid $color-iron;
                width: 50%;
                margin-top: 20px;
                margin-left: -$content-padding;
                -webkit-transition: all .6s ease-in-out;
                -moz-transition: all .6s ease-in-out;
                -o-transition: all .6s ease-in-out;
                transition: all .6s ease-in-out;
                @include mq("desktop") {
                    width: 30%;
                }
            }
            & svg {
                position: absolute;
                width: 16px;
                height: 16px;
                left: 33%;
                top: 33px;
                stroke: $color-iron;
                fill: $color-iron;
                -webkit-transition: all .6s ease-in-out;
                -moz-transition: all .6s ease-in-out;
                -o-transition: all .6s ease-in-out;
                transition: all .6s ease-in-out;
                @include mq("desktop") {
                    left: 23%;
                }
            }
        }
    }
    & .sub-title {
        padding: 0 $content-padding $gutter;
        & h3 {
            color: #37474f;
            font-size: 21px;
            margin-bottom: 10px;
            & small {
                display: block;
                font-weight: 400;
                margin-top: 5px;
            }
        }
    }
    & .description {
        padding: 0 $content-padding 50px $content-padding;
        width: 100%;
        & p {
            display: inline-block;
            vertical-align: top;
            margin-bottom: 30px;
            @include mq("tablet") {
                width: 49%;
                margin-bottom: 0;
            }
            &:first-child {
                padding-right: 20px;
            }
        }
        & .author {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            & li {
                list-style: none;
                display: inline-block;
                width: 100%;
                text-align: left;
                line-height: 1.9;
                @include mq("tablet") {
                    width: calc(100% / 2);
                }
            }
        }
    }
}

.skin {
    display: flex;
    flex-direction: column;
    & li {
        font-size: 14px;
        margin-bottom: 5px;
        position: relative;
        display: flex;
        height: 30px;
        background-color: #F0F0F0;
        border-radius: $border-radius;
        & p {
            position: absolute;
            top: 5px;
            left: 10px;
            color: #FFF;
            font-weight: 700;
        }
        & span {
            width: 100%;
            height: 100%;
            border-radius: $border-radius;
            &.vivid {
                background-color: #994C94;
            }
            &.blue {
                background-color: #137BB8;
            }
            &.rosso {
                background-color: #DB1805;
            }
            &.cove {
                background-color: #777BB3;
            }
        }
    }
}

.deneysel {
    margin-top: 10px;
    font-size: 13px;
}

.projects {
    & ul li {
        margin-bottom: 20px;
        & .project-title {
            font-weight: 900;
            margin-bottom: 5px;
        }
        & .project-detail {
            margin-bottom: 5px;
        }
        & .project-tools {
            font-size: 12px;
        }
    }
}